.jobCardContainer {
    display: flex;
    flex-wrap: wrap;
    width: 21rem;
    height: fit-content;
    margin: 1rem;
    border: 2px solid #0370ff;
    border-radius: 15px;
    background: white;
}

.companyImage {
    margin-top: 1.8rem;
    margin-left:1rem;
    width: 8rem;
    height: 8rem;
    border-radius: 10px;
}

.introduction {
    margin-top: 1rem;
    margin-left: 1rem;
    height: 150px;
}

.stateBoxContainer {
    display: flex;
    flex-wrap: wrap;
}